body {
  /* background-color:#C0C0C0; */
  /* background-color:#ff4000; */
  color: white;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: #0F2027;
background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  
background: linear-gradient(to right, #2C5364, #203A43, #0F2027); 

}

.header {
  background-color: transparent;
  color: #fff;
  padding: 5px 20px;
  position:absolute;
  width: 100%;
  top: 0;
  z-index: 1000;
  transition: background-color 0.2s ease-in-out, border-radius 0.2s ease-in-out;
  height: 60px;
  box-sizing: border-box;
}


.header.scrolled {
  /* background-color: rgba(255, 169, 83, 0.5); */
  background-color: #c0c0c0c9;
  border-radius: 25px;
}

.header-content {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

/* video css */
/* Hero Section Styles */


.hero-section {
  position: absolute; /* Ensure it's positioned over the video */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(0deg, #0000005c 30%, #ffffff0f 80%);
  color: #ffffff;
  z-index: 10; /* Ensure it appears above the video */
  animation: fadeIn 2s ease-in-out; /* Fade-in effect */
}

.hero-section h2 {
  font-size: 3em;
  margin: 0;
  color: #ff3030; /* Heading color */
  animation: slideIn 1s ease-out; /* Slide-in effect */
}

.hero-section p {
  font-size: 1.5em;
  margin-top: 10px;
  animation: fadeIn 2s ease-in-out 1s; /* Fade-in effect with delay */
  margin-bottom: 230px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Video Section Styles */
.video-section {
  position: relative;
  width: 100%;
  height: 100vh; /* Full screen height */
  overflow: hidden;
  
}

.video-section video {
  position: absolute;
  top: 70px;
  /* padding-top:-10cm; */
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Cover the entire section */
  transition: opacity 1s ease-in-out; /* Fade effect */
}

.video-section video:hover {
  opacity: 0.4; /* Dim effect on hover */
}

.scroll-arrow {
  background: rgba(255, 255, 255, 0.193); /* Semi-transparent background */
  border: none;
  border-radius: 50%;
  padding: 10px 20px;
  font-size: 2em;
  color: #ff3030;
  cursor: pointer;
  position: absolute;
  bottom: 90px;
  transition: background 0.3s ease, transform 0.3s ease;
  z-index: 20; /* Ensure it appears above everything */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow for 3D effect */
}

.scroll-arrow:hover {
  background: rgba(255, 255, 255, 0.8); /* Less transparent on hover */
  transform: scale(1.1); /* Slightly enlarge on hover */
}

.scroll-arrow:focus {
  outline: none; /* Remove outline when focused */
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background: rgba(0, 0, 0, 0.5); */
  background: linear-gradient(0deg, #000000ba 30%, #ffffff12 80%);  
}


.videotext
{
  color:#ff3030 ;
  font-size: 1.8em;
  margin-top: -240px;
  font-style: italic;

}
.video-text
{
  color:white;
  font-size: 1.5em;
  font-style: italic;

}

#logo-main {
  margin-right: 20px;
}

#navbar-primary.navbar-default {
  background: transparent;
  border: none;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: auto;
  padding: 5px 10px;
  box-sizing: border-box;
}

.navbar-nav {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navbar-nav > li {
  margin: 0 5px;
}

.navbar-nav > li > a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
}

.main {
  padding: 20px;
}

.section {
  margin-bottom: 20px;
}

.navbar-nav .search-container {
  display: flex;
  align-items: center;
}

.navbar-nav .search-container .search-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-top: -15px;
}

/* footer */

.section__padding {
  padding: 4rem 4rem;
}

.footer {
  background-color: black;
}

.sb__footer {
  display: flex;
  flex-direction: column;
}

.sb__footer-links {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  width: 100%;
  text-align: left;
  margin-bottom: 2rem;
}

.sb__footer-links_div {
  width: 150px;
  margin: 1rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  color: white; /* Ensure this color is light */
}

a {
  color: rgb(255, 255, 255); /* Change to white for better visibility */
  text-decoration: none;
}

.socialmedia {
  display: flex;
  flex-direction: row;
}

.socialmedia img {
  width: 80%;
}

.sb__footer-links_div h4 {
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 0.9rem;
}

.sb__footer-links_div p {
  font-size: 12px;
  line-height: 15px;
  margin: 0.5rem 0;
  cursor: pointer;
  /* font-weight: bold; */
  color: white;
}

.sb__footer-below {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0.2rem;
}

.sb__footer-below-links {
  display: flex;
  flex-direction: row;
}

.sb__footer-below-links p {
  font-size: 15px;
  line-height: 15px;
  margin-left: 2rem;
  color: white; 
  font-weight: 600;
}

hr {
  color: white !important;
  width: 100%;
}

.sb__footer-copyright p {
  font-size: 13px;
  line-height: 15px;
  color: white; 
  font-weight: 600;
}

@media screen and (max-width: 850px) {
  .sb__footer-heading h1 {
    font-size: 44px;
    line-height: 50px;
  }
}

@media screen and (max-width: 550px) {
  .sb__footer-heading h1 {
    font-size: 34px;
    line-height: 42px;
  }
  .sb__footer-links div {
    margin: 1rem 0;
  }
  .sb__footer-btn p {
    font-size: 14px;
    line-height: 20px;
  }
  .sb__footer-below {
    flex-direction: column;
    justify-content: left;
  }
  .sb__footer-below-links {
    flex-direction: column;
  }
  .sb__footer-below-links p {
    margin-left: 0rem;
    margin-top: 1rem;
  }
}

@media screen and (max-width: 400px) {
  .sb__footer-heading h1 {
    font-size: 27px;
    line-height: 38px;
  }
}



/* Parallax CSS */

.content {
  min-height: 100vh;
}

.text-content {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 5px 15px;
  transform: translate(-50%, -50%);
  /* background: rgba(235, 227, 227, 0.488); */
  color: rgb(255, 161, 37);
  border-radius: 20px;
  font-size: 50px;
}

/* Cards Section */
.cards-section {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  position: relative;
  z-index: 2; /* Ensure cards are above parallax background */
}

.card {
  background-color: rgba(51, 51, 51, 0.8); /* Semi-transparent background */
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 400px;  /* Fixed width */
  height: 400px; /* Fixed height */
  text-align: center;
  transition: transform 0.3s ease-in-out;
  color: white;
  margin: 0 20px; /* Add horizontal margin for spacing between cards */
  position: relative;
}

.card img {
  width: 100%;
  height: 200px; /* Fixed height for the images */
  object-fit: cover; /* Ensure images cover the space and maintain aspect ratio */
}

.card-content {
  padding: 20px;
  flex-grow: 1;
}

.card-content h2 {
  margin: 0;
  font-size: 24px;
}

.card-content p {
  font-size: 16px;
  color: #ccc;
  
}

.card:hover {
  transform: scale(1.05);
}

/* Parallax CSS */
.content {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.text-content {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 50px;
  z-index: 1;
}


/* like button */
#main-content {
  display: flex;
  width: 100vw;
  height: 100vh;
  background: white;
  align-items: center;
  justify-content: center;
  text-align: center;
}


a {
  font-size: 12px;
  font-weight: bold;
  margin-top: 10px;
  display: inline-block;
  text-decoration: none;
  color: #008a68;
}

svg {
  cursor: pointer;
  overflow: visible;
  width: 60px;
}

svg #heart {
  transform-origin: center;
  animation: animateHeartOut 0.3s linear forwards;
}

svg #main-circ {
  transform-origin: 29.5px 29.5px;
}

#checkbox {
  display: none;
}

#checkbox:checked + label svg #heart {
  transform: scale(0.2);
  fill: #e2264d;
  animation: animateHeart 0.3s linear forwards 0.25s;
}

#checkbox:checked + label svg #main-circ {
  transition: all 2s;
  animation: animateCircle 0.3s linear forwards;
  opacity: 1;
}

#checkbox:checked + label svg #grp1 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}

#checkbox:checked + label svg #grp1 #oval1 {
  transform: scale(0) translate(0, -30px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}

#checkbox:checked + label svg #grp1 #oval2 {
  transform: scale(0) translate(10px, -50px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}

#checkbox:checked + label svg #grp2 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}

#checkbox:checked + label svg #grp2 #oval1 {
  transform: scale(0) translate(30px, -15px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}

#checkbox:checked + label svg #grp2 #oval2 {
  transform: scale(0) translate(60px, -15px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}

#checkbox:checked + label svg #grp3 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}

#checkbox:checked + label svg #grp3 #oval1 {
  transform: scale(0) translate(30px, 0px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}

#checkbox:checked + label svg #grp3 #oval2 {
  transform: scale(0) translate(60px, 10px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}

#checkbox:checked + label svg #grp4 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}

#checkbox:checked + label svg #grp4 #oval1 {
  transform: scale(0) translate(30px, 15px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}

#checkbox:checked + label svg #grp4 #oval2 {
  transform: scale(0) translate(40px, 50px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}

#checkbox:checked + label svg #grp5 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}

#checkbox:checked + label svg #grp5 #oval1 {
  transform: scale(0) translate(-10px, 20px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}

#checkbox:checked + label svg #grp5 #oval2 {
  transform: scale(0) translate(-60px, 30px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}

#checkbox:checked + label svg #grp6 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}

#checkbox:checked + label svg #grp6 #oval1 {
  transform: scale(0) translate(-30px, 0px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}

#checkbox:checked + label svg #grp6 #oval2 {
  transform: scale(0) translate(-60px, -5px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}

#checkbox:checked + label svg #grp7 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}

#checkbox:checked + label svg #grp7 #oval1 {
  transform: scale(0) translate(-30px, -15px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}

#checkbox:checked + label svg #grp7 #oval2 {
  transform: scale(0) translate(-55px, -30px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}

@keyframes animateCircle {
  40% {
    transform: scale(10);
    opacity: 1;
    fill: #dd4688;
  }
  55% {
    transform: scale(11);
    opacity: 1;
    fill: #d46abf;
  }
  65% {
    transform: scale(12);
    opacity: 1;
    fill: #cc8ef5;
  }
  75% {
    transform: scale(13);
    opacity: 1;
    fill: transparent;
    stroke: #cc8ef5;
    stroke-width: 0.5;
  }
  85% {
    transform: scale(17);
    opacity: 1;
    fill: transparent;
    stroke: #cc8ef5;
    stroke-width: 0.2;
  }
  95% {
    transform: scale(18);
    opacity: 1;
    fill: transparent;
    stroke: #cc8ef5;
    stroke-width: 0.1;
  }
  100% {
    transform: scale(19);
    opacity: 1;
    fill: transparent;
    stroke: #cc8ef5;
    stroke-width: 0;
  }
}

@keyframes animateHeart {
  0% {
    transform: scale(0.2);
  }
  40% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes animateHeartOut {
  0% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}


.like-button-container {
  position: absolute;
  top: -20px; /* Adjust this value to move the button further up */
  right: 10px;
  display: flex;
  align-items: center;
}

.like-button {
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin-top: -0.5cm;
}

.like-button svg {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease-in-out;
}

.like-button:hover svg {
  transform: scale(1.2);
}

.like-button input[type="checkbox"] {
  display: none;
}

.like-button input[type="checkbox"]:checked + label svg #heart {
  fill: #e2264d;
  animation: animateHeart 0.3s linear forwards;
}

.like-button input[type="checkbox"]:checked + label svg #main-circ {
  opacity: 1;
  animation: animateCircle 0.3s linear forwards;
}


