@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
    box-sizing: border-box;
}

.new-backgroundimage {
    background: url('C:\Users\Ritam Bhukta\flavors\src\assests\ghibli.jpg') no-repeat  fixed;
    min-height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.new-title {
    text-align: center;
    color: #eee;
}

.new-container {
    background-color: #fccbad;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}

.new-form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.new-sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
}

.new-container.new-right-panel-active .new-sign-in-container {
    transform: translateX(100%);
}

.new-sign-up-container {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.new-container.new-right-panel-active .new-sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: new-show 0.6s;
}

@keyframes new-show {
    0%, 49.99% {
        opacity: 0;
        z-index: 1;
    }
    
    50%, 100% {
        opacity: 1;
        z-index: 5;
    }
}

.new-overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}

.new-container.new-right-panel-active .new-overlay-container {
    transform: translateX(-100%);
}

.new-overlay {
    background: linear-gradient(0deg, #00000088 30%, #FFFFFF44 80%), url('C:\Users\Ritam Bhukta\flavors\src\assests\signup.png');
    background-size: cover;
    background-position: 0 0;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.new-container.new-right-panel-active .new-overlay {
    transform: translateX(50%);
}

.new-overlay-panel {
    color: #eee;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.new-overlay-left {
    transform: translateX(-20%);
}

.new-container.new-right-panel-active .new-overlay-left {
    transform: translateX(0);
}

.new-overlay-right {
    right: 0;
    transform: translateX(0);
}

.new-container.new-right-panel-active .new-overlay-right {
    transform: translateX(20%);
}

.new-social-container {
    margin: 20px 0;
}

.new-socialicon {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: transform 0.3s ease;
    margin: 10px;
}

.new-socialicon:hover {
    transform: scale(1.1);
}

button {
    border-radius: 20px;
    border: 1px solid #010101;
    background-color: #f5b062;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

button:active {
    transform: scale(0.95);
}

button:focus {
    outline: none;
}

button.new-ghost {
    background-color: transparent;
    border-color: #f9f9f9;
}

form {
    background-color: wheat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}

input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}

.new-error {
    color: red;
    font-size: 14px;
    font-weight: bold;
}
