.custom-form-wrapper {
  /* background-image: url('/src/assests/request.jpg');  */
  background-size: cover;
  padding: 20px;
  border-radius: 10px;
  max-width: 500px;
  margin: auto;
  color: #fff;
}

.custom-form-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.custom-input, .custom-textarea {
  padding: 10px;
  border: 2px solid #333;
  border-radius: 8px;
  background: #fff;
  color: #333;
}

.custom-button {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background-color: #007BFF;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
}

.custom-button:hover {
  background-color: #0056b3;
}
