.admin-dashboard {
    display: flex;
    height: 100vh;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom, #e0e0e0, #b0bec5);
    overflow-y: auto;
  }
  
  .sidebar {
    width: 250px;
    background-color: #263238;
    color: white;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .sidebar h2 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar li {
    padding: 10px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .sidebar a {
    color: white;
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
  }
  
  .sidebar a:hover,
  .sidebar li:hover {
    background-color: #37474f;
  }
  
  .content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }
  
  .header-dash {
    background-color: #37474f;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  
  .users-table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .users-table th,
  .users-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .users-table th {
    background-color: #000;
    color: #fff;
  }
  
  .users-table tr:hover {
    background-color: #f1f1f1;
  }
  
  .error {
    color: red;
    margin-bottom: 20px;
    text-align: center;
  }
  